@media(max-width:850px){
  .hero,
  .detail,
  .auth{
    grid-template-columns:1fr;
  }

  .hero{
    padding:35px 0;
  }

  .auth{
    gap:25px;
  }

  .grid.three,
  .grid.two,
  .stats{
    grid-template-columns:1fr;
  }

  .topbar{
    height:auto;
    min-height:64px;
    padding:10px 4%;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
  }

  .topbar nav{
    width:100%;
    display:flex;
    gap:7px;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    font-size:12px;
    padding-top:2px;
  }

  .topbar nav a{
    display:inline-flex !important;
    align-items:center;
    justify-content:center;
    white-space:nowrap;
  }

  .topbar nav a:not(.btn){
    display:inline-flex !important;
    padding:7px 5px;
  }

  .topbar nav .btn.small{
    padding:7px 10px;
    font-size:11px;
  }

  .container{
    padding:25px 15px 60px;
  }

  .hero h1{
    font-size:46px;
    letter-spacing:-2px;
  }

  .page-head{
    align-items:flex-start;
    flex-direction:column;
  }

  .activation{
    padding:28px 20px;
  }

  .activation h1{
    font-size:34px;
  }

  .detail-main h1{
    font-size:36px;
  }

  footer{
    gap:10px;
    flex-direction:column;
  }
}
